src/pug/ui-kit/colorstypes.pug
include ../../../desktop/mixins.pug

doctype html
html
  head
  body
    div(class='content')
      div(class='colors')
        ul
          li 
          li 
          li 
          li 
          li 
          li 
          li
      div(class='types')
        ul
          li This one is the sub-section or widget title
          li Next one is the item title inside widgets
          li THIS IS A LABEL OR CTA TEXT
          li This is the body text which is used for most of the design, like paragraphs, lists, etc.

dist/colorstypes.html
<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div class="content">
      <div class="colors">
        <ul>
          <li> </li>
          <li> </li>
          <li> </li>
          <li> </li>
          <li> </li>
          <li> </li>
          <li></li>
        </ul>
      </div>
      <div class="types">
        <ul>
          <li>This one is the sub-section or widget title</li>
          <li>Next one is the item title inside widgets</li>
          <li>THIS IS A LABEL OR CTA TEXT</li>
          <li>This is the body text which is used for most of the design, like paragraphs, lists, etc.</li>
        </ul>
      </div>
    </div>
  <script type="text/javascript" src="colorstypes.js"></script></body>
</html>
