src/pug/pages/room-details.pug
include ../../../desktop/mixins.pug

doctype html
html
  head
  body
    +nav('standart')
    div(class='content')
      div(class='left-side')
        div(class='virtues-list')
          div(class='virtues-list__title title') Сведения о номере 
          +virtues('Комфорт', 'Шумопоглащающие стены', 'smile')
          +virtues('Удобство', 'Окно в каждой из спален', 'house')
          +virtues('Уют', 'Номер оснащен камином', 'fire')
        +diagram
        div(class='review-list')
          div(class='review-list__title title') Отзывы посетителей номера
          +review('Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', '1')
          +review('Патрисия Стёклышкова', 'Неделю назад', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент', '2')
        +bullet('Правила')
        div(class='cancel')
          div(class='cancel__title title') Отмена
          div(class='cancel__text') Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      div(class='right-side')
        +room-buy('888', '9 990Р')
    +footer

dist/room-details.html
<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div class="nav undefined">
      <div class="nav__logo"></div>
      <div class="nav__nav">
        <ul class="nav__menu">
          <li class="nav__item"><a class="nav__link" href="#" onclick="active(0)">О нас</a></li>
          <li class="nav__item"><a class="nav__link" href="#" onclick="active(1)">Услуги</a><a class="material-icons">expand_more</a></li>
          <li class="nav__item"><a class="nav__link" href="#" onclick="active(2)">Вакансии</a></li>
          <li class="nav__item"><a class="nav__link" href="#" onclick="active(3)">Новости</a></li>
          <li class="nav__item"><a class="nav__link" href="#" onclick="active(4)">Соглашения</a><a class="material-icons">expand_more</a></li>
        </ul>
        <div class="nav__buttons" style=" ">
          <button class="button button_white">ВОЙТИ</button>
          <button class="button button_purple">ЗАРЕГИСТРИРОВАТЬСЯ</button>
        </div>
        <div class="nav__info" style=" display: none;">
          <div class="nav__line"></div>
          <div class="nav__user">Юлий Цезарь</div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="left-side">
        <div class="virtues-list">
          <div class="virtues-list__title title">Сведения о номере </div>
          <div class="virtues">
            <div class="virtues__content"><img class="virtues__img" src="img/smile.svg">
              <div class="virtues__text"><span class="virtues__title">Комфорт</span><span class="virtues__description">Шумопоглащающие стены</span></div>
            </div>
            <div class="virtues__border"></div>
          </div>
          <div class="virtues">
            <div class="virtues__content"><img class="virtues__img" src="img/house.svg">
              <div class="virtues__text"><span class="virtues__title">Удобство</span><span class="virtues__description">Окно в каждой из спален</span></div>
            </div>
            <div class="virtues__border"></div>
          </div>
          <div class="virtues">
            <div class="virtues__content"><img class="virtues__img" src="img/fire.svg">
              <div class="virtues__text"><span class="virtues__title">Уют</span><span class="virtues__description">Номер оснащен камином</span></div>
            </div>
            <div class="virtues__border"></div>
          </div>
        </div>
        <div class="diagram">
          <div class="diagram__title title">Впечатления от номера</div>
          <div class="diagram__info">
            <div class="diagram__votes"><span>260</span><span>ГОЛОСОВ</span></div><canvas class='diagram__canvas' id="cnvs" width="120px" height="120px"></canvas>
            <ul class="diagram__list">
              <li class="diagram__item">Восхитительно</li>
              <li class="diagram__item">Хорошо</li>
              <li class="diagram__item">Удовлетворительно</li>
              <li class="diagram__item">Разочарован</li>
            </ul>
          </div>
        </div>
        <div class="review-list">
          <div class="review-list__title title">Отзывы посетителей номера</div>
          <div class="review">
            <div class="review__human">
              <div class="review__img" style="background-image: url(../../../desktop/ui-kit/form-elements/blocks/review/review1.png)"></div>
              <div class="review__like like">
                <input class="like__like" type="checkbox" id="like">
                <label class="like__label" for="like"> </label>
              </div>
            </div>
            <div class="review__text">
              <div class="review__name">Мурад Сарафанов</div>
              <div class="review__lastseen">5 дней назад</div>
              <div class="review__paragraph">Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.</div>
            </div>
          </div>
          <div class="review">
            <div class="review__human">
              <div class="review__img" style="background-image: url(../../../desktop/ui-kit/form-elements/blocks/review/review2.png)"></div>
              <div class="review__like like">
                <input class="like__like" type="checkbox" id="like">
                <label class="like__label" for="like"> </label>
              </div>
            </div>
            <div class="review__text">
              <div class="review__name">Патрисия Стёклышкова</div>
              <div class="review__lastseen">Неделю назад</div>
              <div class="review__paragraph">Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент</div>
            </div>
          </div>
        </div>
        <div class="bullet">
          <div class="bullet__title title">Правила</div>
          <ul class="bullet__list">
            <li class="bullet__item">Нельзя с питомцами</li>
            <li class="bullet__item">Без вечеринок и мероприятий</li>
            <li class="bullet__item">Время прибытия — после 13:00, а выезд до 12:00</li>
          </ul>
        </div>
        <div class="cancel">
          <div class="cancel__title title">Отмена</div>
          <div class="cancel__text">Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.</div>
        </div>
      </div>
      <div class="right-side">
        <div class="room-buy">
          <div class="room-buy__info">
            <div class="room-buy__nomer"><span class="room-buy__nomer-number">№888 </span><span class="room-buy__luks">ЛЮКС</span></div>
            <div class="room-buy__money"><span>9 990Р</span><span> в сутки</span></div>
          </div>
          <div class="room-buy__date">
            <div>
              <div class="calendar__name blockname">ПРИБЫТИЕ</div>
              <input class="calendar datepicker-here" placeholder="ДД.ММ.ГГГГ" readonly>
            </div>
            <div>
              <div class="calendar__name blockname">ВЫЕЗД</div>
              <input class="calendar datepicker-here" placeholder="ДД.ММ.ГГГГ" readonly>
            </div>
          </div>
          <div class="dropdown dropdown_guest room-buy__drop" style="width: undefined;">
            <div class="dropdown__name"><span class="dropdown__name-left">ГОСТИ</span><span class="dropdown__name-right"> </span></div>
            <input class="dropdown__input" placeholder=" Сколько гостей" value="" readonly style="width: undefined;">
            <div class="dropdown__window" style="width: undefined; display: none; ">
              <div class="dropdown__people">
                <div>взрослые</div>
                <div>
                  <button class="dropdown__btn dropdown__btn-minus" disabled>-</button>
                  <input class="dropdown__q" disabled value="0">
                  <button class="dropdown__btn dropdown__btn-plus">+</button>
                </div>
              </div>
              <div class="dropdown__people">
                <div>дети</div>
                <div>
                  <button class="dropdown__btn dropdown__btn-minus" disabled>-</button>
                  <input class="dropdown__q" disabled value="0">
                  <button class="dropdown__btn dropdown__btn-plus">+</button>
                </div>
              </div>
              <div class="dropdown__people">
                <div>младенцы</div>
                <div>
                  <button class="dropdown__btn dropdown__btn-minus" disabled>-</button>
                  <input class="dropdown__q" disabled value="0">
                  <button class="dropdown__btn dropdown__btn-plus">+</button>
                </div>
              </div>
              <div class="dropdown__footer-btns" style=" undefined">
                <button class="dropdown__clear">очистить</button>
                <button class="dropdown__submit">применить</button>
              </div>
            </div>
          </div>
          <div class="room-buy__price">
            <div><span>9 990Р x 4 суток</span><span>39 960Р</span></div>
            <div><span>Сбор за услуги: скидка 2179Р</span><span>0Р</span></div>
            <div><span>Сбор за дополнительные услуги</span><span>300Р</span></div>
          </div>
          <div class="room-buy__sum"><span>Итого</span><span>38 081Р</span></div>
          <button class="button button_big">ЗАБРОНИРОВАТЬ</button>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer__main">
        <div class="footer__info">
          <div class="footer__logo logo logo_standart"></div>
          <div class="footer__about">Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»</div>
        </div>
        <ul class="footer__list">
          <li class="footer__item"><a class="footer__link">НАВИГАЦИЯ</a></li>
          <li class="footer__item"><a class="footer__link">О нас</a></li>
          <li class="footer__item"><a class="footer__link">Новости </a></li>
          <li class="footer__item"><a class="footer__link">Служба поддрежки</a></li>
          <li class="footer__item"><a class="footer__link">Услуги</a></li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item"><a class="footer__link">О НАС</a></li>
          <li class="footer__item"><a class="footer__link">О сервисе</a></li>
          <li class="footer__item"><a class="footer__link">Наша команда</a></li>
          <li class="footer__item"><a class="footer__link">Вакансии</a></li>
          <li class="footer__item"><a class="footer__link">Инвесторы</a></li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item"><a class="footer__link">СЛУЖБА ПОДДЕРЖКИ</a></li>
          <li class="footer__item"><a class="footer__link">Соглашения</a></li>
          <li class="footer__item"><a class="footer__link">Сообщества</a></li>
          <li class="footer__item"><a class="footer__link">Связь с нами</a></li>
        </ul>
        <div class="footer__subscription">
          <ul class="footer__list">
            <li class="footer__item">ПОДПИСКА</li>
            <li class="footer__item">Получайте специальные предложения и новости сервиса</li>
          </ul>
          <div class="text-field ">
            <div class="text-field__name" style=" "><span></span></div>
            <input class="text-field__input text-field__input_subscription" placeholder="Email" style="width: 260px;">
          </div>
        </div>
      </div>
      <div class="footer__line"></div>
      <div class="footer__bar">
        <div class="footer__copyright copyright">Copyright © 2018 Toxin отель. Все права зачищены.</div>
        <div class="footer__icons icons"><img class="icons__item" src="img/twitter.svg"><img class="icons__item" src="img/facebook.svg"><img class="icons__item" src="img/instagram.svg"></div>
      </div>
    </div>
  <script type="text/javascript" src="room-details.js"></script></body>
</html>
